<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        font-family: sans-serif;
    }
    img{
        max-width: 450px;
        max-height: 350px;
        margin: auto;
    }
    .container{
        max-width: 40rem;
        margin: 0 auto;
        padding: 2rem;
    }
    .info-email{
        display: flex;
        flex-direction: column;
        gap: 22px;

    }
    .info-email a{
        text-decoration: none;
        font-size: 24px;
        color: white;
        font-weight: bold;
        background-color: #f4b459;
        padding: 12px;
        text-align: center;
        border-radius: 8px;
    }
    .info-email a:hover{
        filter: brightness(.9);
    }
    .info-password{
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
    .info-password::before{
        content: '';
        border: 1px solid #f4b459;
        width: 90%;
        margin: auto;
    }
</style>
</head>
<body>
        <div class="container">
        <div class="info-email">
            <img src="https://tlr.stripocdn.email/content/guids/CABINET_2af5bc24a97b758207855506115773ae/images/80731620309017883.png" alt="">
            <h1>Esqueceu sua senha? </h1>
            <p>Olá, {{name}} </p>
            <p>Recebemos uma solicitação para redefinir a senha da conta do Rentx associada a <strong> {{email}} </strong>. 
                Nenhuma distinção foi feita em sua conta ainda.</p>
            <p>Você pode redefinir sua senha clicando no link abaixo:</p>
            <a href=" {{link}} ">REDEFINIR SUA SENHA</a>
        </div>
        <div class="info-password">
            <p>Só para você saber: Você tem <strong>3 horas</strong> para escolher sua senha. Depois disso, você terá que pedir um novo. </p>
            <p>Não pediu uma nova senha? Você pode ignorar este e-mail.</p>
            <p>— A equipe do Rentx</p>
        </div>
    </div>
</body>
</html>
